#title {
    font-family: cursive;
    text-align: center;
}
.container {
    margin-bottom: 500px; 
}
.navbar-brand {
    font-family: cursive;
}
#displayItems {
    display : none;
    margin : 20px;
}